<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/x-icon" href="/images/heart-image.png">
    <title><%= title %></title>
  </head>
  <body lang="en">
    <h1><%= title %></h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Position</th>
          <th>Age</th>
          <th>Occupation</th>
          <th>City - State</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
    <% for (let member of members) { %>
        <tr>
          <td><%= member.name %></td>
          <td><%= member.position %></td>
          <td><%= member.age %></td>
          <td><%= member.occupation %></td>
          <td><%= member.city %> - <%= member.state %></td>
          <td>
            <a href="/edit/<%= member._id %>" title="Edit">
              <img src="/images/edit.png">
            </a>
            <a href="/remove/<%= member._id %>" title="Remove"
              onclick="return confirm('Are you sure?')"> <!-- asking user for delete action-->
              <img src="/images/remove.png" width="18">
            </a>
        </td>
        </tr>
    <% } %>
      </tbody>
    </table>
    <br>
    <a href="/new">Register new family member</a>
  </body>
</html>
